<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Handle requests to assets, like CSS and JavaScript files
  RewriteCond %{REQUEST_URI} !\.(css|js|png|jpg|gif)$

  # Handle all other requests by serving the Angular app's index.html file
  RewriteRule ^ index.html [L]
</IfModule>
